<h1 align='center'>Unpacking an SQL query</h1>

<img src='https://imgs.search.brave.com/HrkrkzMPiSye8xqhfY-ALSNjXKELxkZRKjFF_KaDk9w/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTMy/NTM2OTc0Ny9waG90/by9hLXlvdW5nLWNv/dXBsZS1wYWNraW5n/LXVud3JhcHBpbmct/bW92aW5nLWJveGVz/LmpwZz9zPTYxMng2/MTImdz0wJms9MjAm/Yz0zeERNdUdpUC1t/QjQwV1hOeGRMYjN6/WjZRWWNFTmNBV3h6/QThkVG1xRVV3PQ'>

https://www.gettyimages.com/photos/unpacking

<h2 align='center'> SELECT Statement</h2>

**The SQL SELECT statement returns a result set of rows, from one or more tables. In most applications, SELECT is the most commonly used data manipulation language (DML) command.**

https://en.wikipedia.org/wiki/Select_(SQL)
    
**In a nutshell the SELECT statement is where data retrieval queries begin. You pass it the field names you are interested in, prefaced by the table name containing the field if the query pulls from multiple tables.**

<h3 align='center'>Examples</h3>

**SELECT city, state FROM location**

**SELECT orders.order_num, location.city, location.state FROM orders INNER JOIN location ON orders.order_id = location.order_id**

<h3>I'll also note the very common SELECT * which can be read as "select all" which selects every field from a table.</h3>

**SELECT * FROM location**

**SELECT orders.*, location.city, location.state FROM orders INNER JOIN location ON orders.order_id = location.order_id**

<h3>It is also common to use aggregation functions like COUNT(), MIN(), MAX(), etc in a SELECT statement</h3>

**SELECT MIN(order_date), MAX(order_date) FROM orders**

**This would output the earliest and latest order dates in the table.**

<h3>This also seems like an appropriate place to introduce a concept known as 'aliasing' where we give a new name to a field in the result set</h3>

**SELECT number AS 'Jersey Number' FROM player**

**This would return the alternate column name 'Jersey Number' in the result set in the interests of making it easier to interpret for human consumers**

<img src='SELECT.png'>

<h2 align='center'>FROM Statement</h2>