<h1 align='center'>Unpacking an SQL query</h1>

<img src='https://imgs.search.brave.com/HrkrkzMPiSye8xqhfY-ALSNjXKELxkZRKjFF_KaDk9w/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTMy/NTM2OTc0Ny9waG90/by9hLXlvdW5nLWNv/dXBsZS1wYWNraW5n/LXVud3JhcHBpbmct/bW92aW5nLWJveGVz/LmpwZz9zPTYxMng2/MTImdz0wJms9MjAm/Yz0zeERNdUdpUC1t/QjQwV1hOeGRMYjN6/WjZRWWNFTmNBV3h6/QThkVG1xRVV3PQ'>

https://www.gettyimages.com/photos/unpacking

<h2 align='center'> CRUD </h2>

**CRUD stands for Create, Read, Update and Delete and represents the basic data operations.**

**In SQL you can create a table with the CREATE statement, the INSERT statement likely also fits into the C category as it is used to insert data into an existing table.**

**The SELECT statement is used to read data from the database. This is primarily what we are going to cover today, and is generally central to database reporting.**

**The SQL UPDATE statement unsurprisingly covers the U in CRUD. UPDATE alters already existing data in the database. Let's say we have a table that covers shipping statuses, every time the status changes an UPDATE statement could be run to alter the record representing that order in the database.**

**The SQL DELETE statement satisfies the D in CRUD. This can delete rows, tables, schemas, etc. Be very careful with the DELETE statement as these operations are not reversible. A good general rule is to make sure you include a WHERE clause in any delete statement, as if you just run DELETE table it is easy to accidentally get rid of more than is desired as opposed to something like DELETE FROM table WHERE order_status = 'final'**

<img src='https://mazer.dev/en/blog/posts/crud/featured-crud.webp'>

https://mazer.dev/en/blog/posts/crud/

<h2 align='center'> SELECT Statement</h2>

**The SQL SELECT statement returns a result set of rows, from one or more tables. In most applications, SELECT is the most commonly used data manipulation language (DML) command.**

https://en.wikipedia.org/wiki/Select_(SQL)
    
**In a nutshell the SELECT statement is where data retrieval queries begin. You pass it the field names you are interested in, prefaced by the table name containing the field if the query pulls from multiple tables.**

<h3 align='center'>Examples</h3>

**SELECT city, state FROM location**

**SELECT orders.order_num, location.city, location.state FROM orders INNER JOIN location ON orders.order_id = location.order_id**

<h3>I'll also note the very common SELECT * which can be read as "select all" which selects every field from a table.</h3>

**SELECT * FROM location**

**SELECT orders.*, location.city, location.state FROM orders INNER JOIN location ON orders.order_id = location.order_id**

<h3>It is also common to use aggregation functions like COUNT(), MIN(), MAX(), etc in a SELECT statement. You might also see the word DISTINCT in a SELECT statement which drops duplicate rows.</h3>

**SELECT MIN(order_date), MAX(order_date) FROM orders**

**This would output the earliest and latest order dates in the table.**

<h3>This also seems like an appropriate place to introduce a concept known as 'aliasing' where we give a new name to a field in the result set</h3>

**SELECT number AS 'Jersey Number' FROM player**

**This would return the alternate column name 'Jersey Number' in the result set in the interests of making it easier to interpret for human consumers**

<img src='SELECT.png'>

https://intellipaat.com/blog/tutorial/sql-tutorial/select-query-in-sql/

<h2 align='center'>FROM Statement</h2>

**The FROM command is used to specify which table(s) to select or delete data from.**

https://www.w3schools.com/SQl/sql_ref_from.asp
    
**SQL Joins are also performed as part of a FROM clause where tables are worked together to allow pulling data from multiple places. There are a couple of different kind of SQL Joins and which one to use for any particular operation is a pretty important decision. It's easy to get unexpected results if you don't join tables in the way that you had intended to.**

<h2 align='center'> Types of SQL Joins </h2>

- (INNER) JOIN: Returns records that have matching values in both tables
- LEFT (OUTER) JOIN: Returns all records from the left table, and the matched records from the right table
- RIGHT (OUTER) JOIN: Returns all records from the right table, and the matched records from the left table
- FULL (OUTER) JOIN: Returns all records when there is a match in either left or right table
    
**I will note this list is not exhaustive but is a basic introduction to the basic kinds of joins.**

**For the sake of LEFT vs RIGHT this is based on what side of an = a table is in a join statement. This can look like FROM orders INNER JOIN location ON orders.order_id = location.order_id. In this example orders is the left table and location is the right table.**

**It's also very important to know that JOINs are performed 'on a field' creating a master table from matching values in a field between two tables. In the example above we joined on order_id so the join would add columns to the result set with values from both tables that match on the value in the order_id field.**

**JOINs can get complex enough that it would be appropriate to devote an entire lesson to them. In the interest of brevity I will end this exploration here for now.**

<img src='https://cdn.analyticsvidhya.com/wp-content/uploads/2020/02/sql-joins-diagram.png'>

https://www.analyticsvidhya.com/blog/2020/02/understanding-sql-joins/

<h2 align='center'>WHERE Statement </h2>

**The WHERE clause is used to filter records.**

**It is used to extract only those records that fulfill a specified condition.**

https://www.w3schools.com/sql/sql_where.asp
    
**WHERE clauses are the primary way of targeting result sets to your specific conditions and can be chained together with the keyword AND.**

**It is also common to use the keyword BETWEEN to SELECT values between a range in a date or numeric field**

<h3 align='center'>Examples</h3>

**SELECT city, state**

**FROM location**

**WHERE state = 'Kentucky';**

<br />

**SELECT orders.order_num, location.city, location.state**

**FROM orders**

**INNER JOIN locations ON orders.order_id = location.order_id**

**WHERE location.city = 'Louisville' AND location.state = 'Kentucky';**

<br />

**SELECT order_num, order_date**

**FROM orders**

**WHERE order_date BETWEEN '2024-01-01' AND '2024-03-31';**

<br />

**SELECT order_num, order_date**

**FROM orders**

**WHERE order_num BETWEEN 100 AND 150;**

<h2 align='center'> GROUP BY Statement</h2>

**The GROUP BY statement groups rows that have the same values into summary rows, like "find the number of customers in each country".**

**The GROUP BY statement is often used with aggregate functions (COUNT(), MAX(), MIN(), SUM(), AVG()) to group the result-set by one or more columns.**

https://www.w3schools.com/sql/sql_groupby.asp

<h3 align='center'>Example</h3>

**SELECT order_type, COUNT(order_num), SUM(order_total)**

**FROM orders**

**GROUP BY order_type**

<h2 align='center'> HAVING Statement </h2>

**The HAVING Statement used in conjunction with GROUP BY and allows you to filter on an aggregation, for example if we only wanted rows with a COUNT() > 10 in our result set**

<h3 align='center'> Example </h3>

**SELECT order_type, COUNT(order_num), SUM(order_total)**

**FROM orders**

**GROUP BY order_type**

**HAVING COUNT(order_num) > 10**

<h2 align='center'> ORDER BY Statement </h2>

In [ ]:
**Used to sort a result set based on a field (usually either ascending or descending.) This sorting is done alphabetically for test fields, and in numeric ord